
@{
}
<h1>Login Form</h1>
<form action="/User/Login" method="POST">
	<label>Username</label>
	<input type="text" name="Username" id="Password"/>	
	<label>Password</label>
	<input type="password" name="Password" id="Password"/>
	<button>Submit</button>
</form>
	
